<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vc.wd.main" >
    <application>
        <activity android:name="com.vc.wd.main.activity.MainActivity"/>
        <activity android:name="com.vc.wd.main.activity.MainFromViewPagerActivity"/>
        <activity android:name="com.vc.wd.main.activity.SetActivity"/>
        <activity android:name="com.vc.wd.main.activity.AddCircleActivity"/>
    </application>
</manifest>
